In [31]:
import csv
import pandas as pd

In [47]:
from datetime import datetime
import numpy as np

In [3]:
import requests

In [64]:
payloads = {'exporttype':'bidpriceladder',
            'format':'csv',
            'datefrom':'2020-01-01',
            'dateto':'2020-01-02',
            'submit':1}
response = requests.get(
    'https://www.tennet.org/english/operational_management/export_data.aspx',
    params= payloads)

In [80]:
tf = open('devon.csv' , 'wb')

In [81]:
tf.write(response.content)

24096

In [82]:
tf.close()

In [83]:
nh = pd.read_csv('devon.csv')

In [84]:
nh.head()

,Date,PTE,period_from,period_until,Total_min,Minmax,Min600,Min300,Min100,minmin,posmin,pos100,pos300,pos600,posmax,total_plus
0,01/01/2020,1,00:00,00:15,-753,-422.35,-109.06,0.00,23.49,30.02,0.00,31.06,140.02,NaN,341.88,383
1,01/01/2020,2,00:15,00:30,-735,-422.35,-105.91,0.51,23.61,30.03,0.00,31.10,109.02,NaN,341.88,400
2,01/01/2020,3,00:30,00:45,-715,-421.89,-114.97,0.35,23.58,29.06,0.00,31.09,83.02,NaN,267.02,398
3,01/01/2020,4,00:45,01:00,-716,-421.89,-100.88,3.30,24.11,29.06,0.00,32.02,113.02,NaN,251.87,398
4,01/01/2020,5,01:00,01:15,-750,-421.89,-131.40,-2.79,20.85,29.06,29.09,32.93,238.60,NaN,338.60,353

In [117]:
df[['Date','PTE' , 'total_plus']].groupby(['Date' , 'PTE']).agg([np.sum])

               total_plus
                      sum
Date       PTE
01/01/2020 1          383
           2          400
           3          398
           4          398
           5          353
           6          370
           7          359
           8          359
           9          347
           10         362
           11         373
           12         372
           13         357
           14         364
           15         372
           16         372
           17         428
           18         427
           19         427
           20         427
           21         457
           22         457
           23         430
           24         407
           25         460
           26         459
           27         457
           28         457
           29         470
           30         470
...                   ...
01/02/2020 67         330
           68         330
           69         320
           70         320
           71         320
           72         320
           73         325
           74         325
           75         325
           76         325
           77         330
           78         330
           79         339
           80         339
           81         324
           82         326
           83         376
           84         385
           85         330
           86         330
           87         390
           88         390
           89         341
           90         341
           91         401
           92         402
           93         483
           94         494
           95         569
           96         570

[192 rows x 1 columns]

In [65]:
response.url

'https://www.tennet.org/english/operational_management/export_data.aspx?exporttype=bidpriceladder&format=csv&datefrom=2020-01-01&dateto=2020-01-02&submit=1'

In [98]:
df = pd.read_csv('http://www.tennet.org/english/operational_management/export_data.aspx?exporttype=bidpriceladder&format=csv&datefrom=2020-01-01&dateto=2020-01-02&submit=1')
df['Processed_time'] = datetime.now()

df['time'] = df.apply(lambda row: datetime.now(), axis=1)

In [45]:
df.pivot(index ='Date', columns ='PTE', values =['total_plus'])

           total_plus                                               ...       \
PTE                1    2    3    4    5    6    7    8    9    10  ...   87
Date                                                                ...
01/01/2020        383  400  398  398  353  370  359  359  347  362  ...  346
01/02/2020        344  399  451  476  367  367  417  442  459  459  ...  390


PTE          88   89   90   91   92   93   94   95   96
Date
01/01/2020  346  315  315  360  360  393  393  455  458
01/02/2020  390  341  341  401  402  483  494  569  570

[2 rows x 96 columns]

In [99]:
table = pd.pivot_table(df,index=['Date'],columns=['PTE'],values=['total_plus'],aggfunc=np.mean)
table

           total_plus                                               ...       \
PTE                1    2    3    4    5    6    7    8    9    10  ...   87
Date                                                                ...
01/01/2020        383  400  398  398  353  370  359  359  347  362  ...  346
01/02/2020        344  399  451  476  367  367  417  442  459  459  ...  390


PTE          88   89   90   91   92   93   94   95   96
Date
01/01/2020  346  315  315  360  360  393  393  455  458
01/02/2020  390  341  341  401  402  483  494  569  570

[2 rows x 96 columns]

In [53]:
df.describe()

,PTE,Total_min,Minmax,Min600,Min300,Min100,minmin,posmin,pos100,pos300,pos600,posmax,total_plus
count,192.000000,192.000000,192.000000,156.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,0.0,192.000000,192.000000
mean,48.500000,-725.619792,-422.904844,-125.541346,-3.337500,22.353125,32.950469,22.801042,32.519948,155.596198,NaN,324.557813,393.145833
std,27.783757,129.758480,0.830180,35.451749,7.863833,2.037873,5.494357,11.921487,1.686711,79.345934,NaN,59.435323,64.135161
min,1.000000,-981.000000,-423.860000,-422.230000,-20.620000,20.080000,27.030000,0.000000,30.920000,59.120000,NaN,251.870000,315.000000
25%,24.750000,-840.500000,-423.860000,-138.020000,-11.750000,20.550000,29.060000,28.570000,31.020000,75.100000,NaN,251.870000,330.000000
50%,48.500000,-700.000000,-422.735000,-129.320000,-1.030000,21.770000,29.060000,28.825000,32.020000,139.020000,NaN,343.385000,374.000000
75%,72.250000,-614.500000,-422.230000,-117.740000,0.960000,23.780000,38.060000,29.230000,33.480000,251.720000,NaN,350.120000,458.250000
max,96.000000,-562.000000,-421.700000,-46.780000,11.340000,26.240000,42.100000,29.980000,37.980000,267.020000,NaN,450.000000,570.000000

In [125]:
df.shape

(192, 17)

In [119]:
import sqlite3

In [122]:
conn=sqlite3.connect('db.sqlite3')

In [123]:
cur=conn.cursor()

In [126]:
df.to_sql("export_devon", conn, if_exists="replace")

In [131]:
pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)

                          name
0            django_migrations
1              sqlite_sequence
2       auth_group_permissions
3             auth_user_groups
4   auth_user_user_permissions
5             django_admin_log
6          django_content_type
7              auth_permission
8                    auth_user
9                   auth_group
10              django_session
11   basic_app_userprofileinfo
12                export_devon

In [129]:
for i in cur.execute("select * from export_devon;"):
    print (i)

(0, '01/01/2020', 1, '00:00', '00:15', -753, -422.35, -109.06, 0.0, 23.49, 30.02, 0.0, 31.06, 140.02, None, 341.88, 383, '2020-07-29 21:08:54.277885')
(1, '01/01/2020', 2, '00:15', '00:30', -735, -422.35, -105.91, 0.51, 23.61, 30.03, 0.0, 31.1, 109.02, None, 341.88, 400, '2020-07-29 21:08:54.277885')
(2, '01/01/2020', 3, '00:30', '00:45', -715, -421.89, -114.97, 0.35, 23.58, 29.06, 0.0, 31.09, 83.02, None, 267.02, 398, '2020-07-29 21:08:54.277885')
(3, '01/01/2020', 4, '00:45', '01:00', -716, -421.89, -100.88, 3.3, 24.11, 29.06, 0.0, 32.02, 113.02, None, 251.87, 398, '2020-07-29 21:08:54.277885')
(4, '01/01/2020', 5, '01:00', '01:15', -750, -421.89, -131.4, -2.79, 20.85, 29.06, 29.09, 32.93, 238.6, None, 338.6, 353, '2020-07-29 21:08:54.277885')
(5, '01/01/2020', 6, '01:15', '01:30', -735, -421.89, -131.4, -2.79, 20.85, 29.06, 29.09, 32.93, 186.02, None, 338.6, 370, '2020-07-29 21:08:54.277885')
(6, '01/01/2020', 7, '01:30', '01:45', -726, -421.7, -131.4, -2.79, 20.85, 29.06, 29.09, 32.93, 251.87, None, 350.02, 359, '2020-07-29 21:08:54.277885')
(7, '01/01/2020', 8, '01:45', '02:00', -726, -421.7, -131.4, -2.79, 20.85, 29.06, 29.09, 32.93, 251.87, None, 350.02, 359, '2020-07-29 21:08:54.277885')
(8, '01/01/2020', 9, '02:00', '02:15', -738, -421.7, -133.45, -2.79, 20.85, 29.06, 28.92, 32.75, 227.02, None, 335.02, 347, '2020-07-29 21:08:54.277885')
(9, '01/01/2020', 10, '02:15', '02:30', -723, -421.7, -133.45, -2.79, 20.85, 29.06, 28.92, 32.75, 169.02, None, 335.02, 362, '2020-07-29 21:08:54.277885')
(10, '01/01/2020', 11, '02:30', '02:45', -714, -421.7, -133.45, -2.79, 20.85, 29.06, 28.92, 32.75, 139.02, None, 335.02, 373, '2020-07-29 21:08:54.277885')
(11, '01/01/2020', 12, '02:45', '03:00', -715, -421.7, -133.45, -2.79, 20.85, 29.06, 28.92, 32.75, 139.02, None, 335.02, 372, '2020-07-29 21:08:54.277885')
(12, '01/01/2020', 13, '03:00', '03:15', -724, -421.7, -137.68, -2.98, 20.66, 29.06, 28.75, 32.57, 169.02, None, 335.02, 357, '2020-07-29 21:08:54.277885')
(13, '01/01/2020', 14, '03:15', '03:30', -714, -421.7, -137.68, -2.98, 20.66, 29.06, 28.75, 32.57, 169.02, None, 335.02, 364, '2020-07-29 21:08:54.277885')
(14, '01/01/2020', 15, '03:30', '03:45', -714, -421.7, -137.68, -2.98, 20.66, 29.06, 28.75, 32.57, 139.02, None, 335.02, 372, '2020-07-29 21:08:54.277885')
(15, '01/01/2020', 16, '03:45', '04:00', -715, -421.7, -137.68, -2.98, 20.66, 29.06, 28.75, 32.57, 139.02, None, 335.02, 372, '2020-07-29 21:08:54.277885')
(16, '01/01/2020', 17, '04:00', '04:15', -651, -421.7, -139.15, -20.16, 20.54, 29.06, 0.0, 32.57, 78.02, None, 267.02, 428, '2020-07-29 21:08:54.277885')
(17, '01/01/2020', 18, '04:15', '04:30', -713, -421.7, -139.15, -3.1, 20.54, 29.06, 0.0, 32.57, 78.02, None, 267.02, 427, '2020-07-29 21:08:54.277885')
(18, '01/01/2020', 19, '04:30', '04:45', -712, -421.7, -139.15, -3.1, 20.54, 29.06, 0.0, 32.57, 78.02, None, 267.02, 427, '2020-07-29 21:08:54.277885')
(19, '01/01/2020', 20, '04:45', '05:00', -689, -421.7, -139.15, -9.03, 20.54, 29.06, 0.0, 32.57, 78.02, None, 267.02, 427, '2020-07-29 21:08:54.277885')
(20, '01/01/2020', 21, '05:00', '05:15', -618, -421.7, -150.03, -20.22, 20.48, 29.06, 28.75, 31.0, 71.02, None, 267.02, 457, '2020-07-29 21:08:54.277885')
(21, '01/01/2020', 22, '05:15', '05:30', -618, -421.7, -150.03, -20.22, 20.48, 29.06, 28.75, 31.0, 71.02, None, 267.02, 457, '2020-07-29 21:08:54.277885')
(22, '01/01/2020', 23, '05:30', '05:45', -617, -421.7, -150.03, -20.22, 20.48, 29.06, 28.75, 31.0, 85.02, None, 267.02, 430, '2020-07-29 21:08:54.277885')
(23, '01/01/2020', 24, '05:45', '06:00', -617, -421.7, -150.03, -20.22, 20.48, 29.06, 28.75, 31.0, 90.42, None, 267.02, 407, '2020-07-29 21:08:54.277885')
(24, '01/01/2020', 25, '06:00', '06:15', -562, -422.23, None, -20.22, 20.48, 29.06, 28.75, 31.0, 71.02, None, 267.02, 460, '2020-07-29 21:08:54.277885')
(25, '01/01/2020', 26, '06:15', '06:30', -562, -422.23, None, -20.22, 20.48, 29.06, 28.75, 31.0, 71.02, None, 267.02, 459, '2020-07-29 21:08:54.277885')
(26, '01/01/2020', 27, '06:30', '06:45', -563, -422.23, None, -20.22, 20.48, 29.06, 28.75, 31.0, 71.02, None, 267.02, 457, '2020-07-29 21:08:54.277885')
(27, '01/01/2020', 28, '06:45', '07:00', -563, -422.23, None, -20.22, 20.48, 29.06, 0.0, 31.0, 71.02, None, 267.02, 457, '2020-07-29 21:08:54.277885')
(28, '01/01/2020', 29, '07:00', '07:15', -575, -422.23, None, -15.03, 20.47, 29.06, 0.0, 31.0, 65.02, None, 267.02, 470, '2020-07-29 21:08:54.277885')
(29, '01/01/2020', 30, '07:15', '07:30', -575, -422.23, None, -15.03, 20.47, 29.06, 28.75, 31.0, 65.02, None, 267.02, 470, '2020-07-29 21:08:54.277885')
(30, '01/01/2020', 31, '07:30', '07:45', -606, -422.23, -222.23, -15.03, 20.47, 29.06, 28.75, 31.0, 75.0, None, 267.02, 439, '2020-07-29 21:08:54.277885')
(31, '01/01/2020', 32, '07:45', '08:00', -627, -422.23, -140.0, -15.03, 20.47, 29.06, 0.0, 31.0, 85.02, None, 267.02, 419, '2020-07-29 21:08:54.277885')
(32, '01/01/2020', 33, '08:00', '08:15', -572, -422.23, None, -14.03, 20.52, 29.06, 0.0, 31.0, 61.65, None, 267.02, 475, '2020-07-29 21:08:54.277885')
(33, '01/01/2020', 34, '08:15', '08:30', -572, -422.23, None, -11.78, 20.52, 29.06, 0.0, 31.0, 68.02, None, 251.87, 475, '2020-07-29 21:08:54.277885')
(34, '01/01/2020', 35, '08:30', '08:45', -602, -422.23, -422.23, -11.78, 20.52, 29.06, 0.0, 31.0, 83.02, None, 251.87, 445, '2020-07-29 21:08:54.277885')
(35, '01/01/2020', 36, '08:45', '09:00', -623, -422.23, -139.35, -11.78, 20.52, 29.06, 0.0, 31.0, 91.95, None, 251.87, 425, '2020-07-29 21:08:54.277885')
(36, '01/01/2020', 37, '09:00', '09:15', -573, -422.23, None, -11.78, 20.52, 29.06, 0.0, 31.0, 68.02, None, 251.87, 475, '2020-07-29 21:08:54.277885')
(37, '01/01/2020', 38, '09:15', '09:30', -572, -422.23, None, -11.78, 20.52, 29.06, 0.0, 31.0, 68.02, None, 251.87, 475, '2020-07-29 21:08:54.277885')
(38, '01/01/2020', 39, '09:30', '09:45', -572, -422.23, None, -11.78, 20.52, 29.06, 0.0, 31.0, 68.02, None, 251.87, 475, '2020-07-29 21:08:54.277885')
(39, '01/01/2020', 40, '09:45', '10:00', -572, -422.23, None, -11.78, 20.52, 29.06, 0.0, 31.0, 68.02, None, 251.87, 475, '2020-07-29 21:08:54.277885')
(40, '01/01/2020', 41, '10:00', '10:15', -570, -422.23, None, -11.81, 20.49, 29.06, 0.0, 31.0, 68.02, None, 251.87, 478, '2020-07-29 21:08:54.277885')
(41, '01/01/2020', 42, '10:15', '10:30', -570, -422.23, None, -11.81, 20.49, 29.06, 0.0, 31.0, 68.02, None, 251.87, 478, '2020-07-29 21:08:54.277885')
(42, '01/01/2020', 43, '10:30', '10:45', -569, -422.23, None, -11.81, 20.49, 29.06, 0.0, 31.0, 68.02, None, 251.87, 478, '2020-07-29 21:08:54.277885')
(43, '01/01/2020', 44, '10:45', '11:00', -569, -422.23, None, -11.81, 20.49, 29.06, 0.0, 31.0, 68.02, None, 251.87, 478, '2020-07-29 21:08:54.277885')
(44, '01/01/2020', 45, '11:00', '11:15', -571, -422.23, None, -11.8, 20.5, 29.06, 0.0, 31.0, 75.02, None, 251.87, 473, '2020-07-29 21:08:54.277885')
(45, '01/01/2020', 46, '11:15', '11:30', -570, -422.23, None, -11.8, 20.5, 29.06, 0.0, 31.0, 75.02, None, 251.87, 473, '2020-07-29 21:08:54.277885')
(46, '01/01/2020', 47, '11:30', '11:45', -570, -422.23, None, -11.8, 20.5, 29.06, 0.0, 31.0, 75.02, None, 251.87, 472, '2020-07-29 21:08:54.277885')
(47, '01/01/2020', 48, '11:45', '12:00', -570, -422.23, None, -11.8, 20.5, 29.06, 0.0, 31.0, 75.02, None, 251.87, 472, '2020-07-29 21:08:54.277885')
(48, '01/01/2020', 49, '12:00', '12:15', -570, -422.23, None, -11.75, 20.55, 29.06, 0.0, 31.0, 75.02, None, 251.87, 472, '2020-07-29 21:08:54.277885')
(49, '01/01/2020', 50, '12:15', '12:30', -570, -422.23, None, -11.75, 20.55, 29.06, 0.0, 31.0, 75.02, None, 251.87, 472, '2020-07-29 21:08:54.277885')
(50, '01/01/2020', 51, '12:30', '12:45', -570, -422.23, None, -11.75, 20.55, 29.06, 0.0, 31.0, 75.02, None, 251.87, 471, '2020-07-29 21:08:54.277885')
(51, '01/01/2020', 52, '12:45', '13:00', -570, -422.23, None, -11.75, 20.55, 29.06, 0.0, 31.0, 75.02, None, 251.87, 471, '2020-07-29 21:08:54.277885')
(52, '01/01/2020', 53, '13:00', '13:15', -571, -422.23, None, -11.83, 20.47, 29.06, 0.0, 31.0, 75.02, None, 251.87, 471, '2020-07-29 21:08:54.277885')
(53, '01/01/2020', 54, '13:15', '13:30', -571, -422.23, None, -11.83, 20.47, 29.06, 0.0, 31.0, 75.1, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(54, '01/01/2020', 55, '13:30', '13:45', -571, -422.23, None, -11.83, 20.47, 29.06, 0.0, 31.0, 75.1, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(55, '01/01/2020', 56, '13:45', '14:00', -572, -422.23, None, -11.83, 21.03, 29.06, 28.75, 31.0, 75.1, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(56, '01/01/2020', 57, '14:00', '14:15', -572, -422.23, None, -11.77, 20.53, 29.06, 0.0, 31.0, 76.87, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(57, '01/01/2020', 58, '14:15', '14:30', -572, -422.23, None, -11.77, 20.53, 29.06, 0.0, 31.0, 76.88, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(58, '01/01/2020', 59, '14:30', '14:45', -572, -422.23, None, -11.77, 20.53, 29.06, 0.0, 31.0, 76.87, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(59, '01/01/2020', 60, '14:45', '15:00', -572, -422.23, None, -11.77, 20.53, 29.06, 0.0, 31.0, 76.88, None, 251.87, 470, '2020-07-29 21:08:54.277885')
(60, '01/01/2020', 61, '15:00', '15:15', -611, -422.23, -150.03, -1.03, 20.64, 29.06, 28.75, 31.02, 105.02, None, 251.87, 393, '2020-07-29 21:08:54.277885')
(61, '01/01/2020', 62, '15:15', '15:30', -612, -422.23, -150.03, -1.03, 20.64, 29.06, 28.75, 31.02, 75.02, None, 251.87, 471, '2020-07-29 21:08:54.277885')
(62, '01/01/2020', 63, '15:30', '15:45', -612, -422.23, -150.03, -1.03, 20.64, 29.06, 28.75, 31.02, 75.02, None, 251.87, 471, '2020-07-29 21:08:54.277885')
(63, '01/01/2020', 64, '15:45', '16:00', -613, -422.23, -150.03, -1.03, 20.64, 29.06, 28.75, 31.02, 80.27, None, 251.87, 448, '2020-07-29 21:08:54.277885')
(64, '01/01/2020', 65, '16:00', '16:15', -576, -422.23, -150.03, -0.03, 21.77, 29.06, 28.87, 31.12, 71.29, None, 251.87, 430, '2020-07-29 21:08:54.277885')
(65, '01/01/2020', 66, '16:15', '16:30', -572, -422.23, -150.03, -0.03, 21.77, 29.06, 28.87, 31.12, 71.29, None, 251.87, 434, '2020-07-29 21:08:54.277885')
(66, '01/01/2020', 67, '16:30', '16:45', -625, -422.23, -134.02, -0.03, 21.77, 29.06, 28.87, 31.12, 127.02, None, 251.87, 381, '2020-07-29 21:08:54.277885')
(67, '01/01/2020', 68, '16:45', '17:00', -640, -422.23, -134.02, -0.03, 21.77, 29.06, 28.87, 31.12, 149.02, None, 251.87, 366, '2020-07-29 21:08:54.277885')
(68, '01/01/2020', 69, '17:00', '17:15', -649, -422.23, -129.6, -0.03, 21.77, 29.06, 29.24, 31.49, 142.02, None, 251.87, 363, '2020-07-29 21:08:54.277885')
(69, '01/01/2020', 70, '17:15', '17:30', -668, -422.23, -129.6, -0.03, 21.77, 29.06, 29.24, 31.49, 171.02, None, 251.87, 347, '2020-07-29 21:08:54.277885')
(70, '01/01/2020', 71, '17:30', '17:45', -700, -422.23, -129.6, -0.03, 21.77, 29.06, 29.24, 31.49, 251.87, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(71, '01/01/2020', 72, '17:45', '18:00', -700, -422.23, -129.6, -0.03, 21.77, 29.06, 29.24, 31.49, 251.87, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(72, '01/01/2020', 73, '18:00', '18:15', -698, -422.23, -125.95, -0.03, 21.77, 38.06, 29.54, 31.79, 251.87, None, 332.02, 315, '2020-07-29 21:08:54.277885')
(73, '01/01/2020', 74, '18:15', '18:30', -699, -422.23, -125.95, -0.03, 21.77, 38.06, 29.54, 31.79, 267.02, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(74, '01/01/2020', 75, '18:30', '18:45', -684, -422.23, -125.95, -0.03, 21.77, 38.06, 29.54, 31.79, 251.87, None, 332.02, 329, '2020-07-29 21:08:54.277885')
(75, '01/01/2020', 76, '18:45', '19:00', -684, -422.23, -125.95, -0.03, 21.77, 38.06, 29.54, 31.79, 251.87, None, 332.02, 329, '2020-07-29 21:08:54.277885')
(76, '01/01/2020', 77, '19:00', '19:15', -700, -422.23, -131.31, -0.03, 21.77, 29.06, 29.09, 31.34, 251.87, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(77, '01/01/2020', 78, '19:15', '19:30', -699, -422.23, -131.31, -0.03, 21.77, 29.06, 29.09, 31.34, 251.87, None, 251.87, 315, '2020-07-29 21:08:54.277885')
(78, '01/01/2020', 79, '19:30', '19:45', -670, -422.23, -131.31, -0.03, 21.77, 29.06, 29.09, 31.34, 171.02, None, 251.87, 345, '2020-07-29 21:08:54.277885')
(79, '01/01/2020', 80, '19:45', '20:00', -670, -422.23, -131.31, -0.03, 21.77, 29.06, 29.09, 31.34, 171.02, None, 251.87, 345, '2020-07-29 21:08:54.277885')
(80, '01/01/2020', 81, '20:00', '20:15', -700, -422.23, -127.38, -1.03, 20.85, 38.06, 29.42, 32.02, 251.87, None, 331.02, 315, '2020-07-29 21:08:54.277885')
(81, '01/01/2020', 82, '20:15', '20:30', -701, -422.23, -127.38, -1.03, 20.85, 38.06, 29.42, 32.02, 251.87, None, 331.02, 315, '2020-07-29 21:08:54.277885')
(82, '01/01/2020', 83, '20:30', '20:45', -686, -422.23, -127.38, -1.03, 20.85, 38.06, 29.42, 32.02, 251.87, None, 331.02, 330, '2020-07-29 21:08:54.277885')
(83, '01/01/2020', 84, '20:45', '21:00', -686, -422.23, -127.38, -1.03, 20.85, 38.06, 29.42, 32.02, 251.87, None, 331.02, 330, '2020-07-29 21:08:54.277885')
(84, '01/01/2020', 85, '21:00', '21:15', -702, -422.23, -129.32, -1.03, 20.85, 29.06, 29.26, 32.02, 251.87, None, 251.87, 315, '2020-07-29 21:08:54.277885')
(85, '01/01/2020', 86, '21:15', '21:30', -705, -422.23, -129.32, -1.03, 20.85, 29.06, 29.26, 32.02, 251.87, None, 251.87, 315, '2020-07-29 21:08:54.277885')
(86, '01/01/2020', 87, '21:30', '21:45', -672, -422.23, -129.32, -1.03, 20.85, 29.06, 29.26, 32.02, 172.02, None, 251.87, 346, '2020-07-29 21:08:54.277885')
(87, '01/01/2020', 88, '21:45', '22:00', -672, -422.23, -129.32, -1.03, 20.85, 29.06, 29.26, 32.02, 172.02, None, 251.87, 346, '2020-07-29 21:08:54.277885')
(88, '01/01/2020', 89, '22:00', '22:15', -704, -422.23, -130.32, -1.03, 20.85, 29.06, 29.18, 32.02, 251.87, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(89, '01/01/2020', 90, '22:15', '22:30', -705, -422.23, -130.32, -1.03, 20.85, 29.06, 29.18, 32.02, 251.87, None, 450.0, 315, '2020-07-29 21:08:54.277885')
(90, '01/01/2020', 91, '22:30', '22:45', -675, -422.23, -130.32, -1.03, 20.85, 29.06, 29.18, 32.02, 157.02, None, 251.87, 360, '2020-07-29 21:08:54.277885')
(91, '01/01/2020', 92, '22:45', '23:00', -676, -422.23, -130.32, 0.0, 21.03, 29.06, 29.18, 32.02, 157.02, None, 251.87, 360, '2020-07-29 21:08:54.277885')
(92, '01/01/2020', 93, '23:00', '23:15', -638, -422.23, -138.53, -20.11, 21.03, 29.06, 28.75, 35.2, 113.02, None, 251.87, 393, '2020-07-29 21:08:54.277885')
(93, '01/01/2020', 94, '23:15', '23:30', -689, -422.23, -138.53, -4.03, 20.59, 27.03, 28.75, 35.2, 113.02, None, 251.87, 393, '2020-07-29 21:08:54.277885')
(94, '01/01/2020', 95, '23:30', '23:45', -645, -422.23, -138.53, -3.05, 20.59, 27.03, 28.75, 32.02, 78.68, None, 251.87, 455, '2020-07-29 21:08:54.277885')
(95, '01/01/2020', 96, '23:45', '00:00', -646, -422.23, -138.53, -4.03, 20.59, 27.03, 28.75, 32.02, 78.67, None, 251.87, 458, '2020-07-29 21:08:54.277885')
(96, '01/02/2020', 1, '00:00', '00:15', -738, -423.12, -134.6, -3.04, 22.15, 35.24, 28.75, 32.57, 251.87, None, 350.12, 344, '2020-07-29 21:08:54.277885')
(97, '01/02/2020', 2, '00:15', '00:30', -743, -423.12, -134.6, -3.04, 22.15, 35.24, 0.0, 32.57, 100.12, None, 350.12, 399, '2020-07-29 21:08:54.277885')
(98, '01/02/2020', 3, '00:30', '00:45', -693, -423.12, -134.6, -3.04, 21.01, 35.24, 0.0, 31.0, 64.12, None, 350.12, 451, '2020-07-29 21:08:54.277885')
(99, '01/02/2020', 4, '00:45', '01:00', -668, -423.12, -134.6, -3.04, 21.01, 35.24, 0.0, 31.0, 59.12, None, 350.12, 476, '2020-07-29 21:08:54.277885')
(100, '01/02/2020', 5, '01:00', '01:15', -744, -423.12, -138.02, -3.29, 21.89, 34.88, 28.75, 32.57, 157.12, None, 350.12, 367, '2020-07-29 21:08:54.277885')
(101, '01/02/2020', 6, '01:15', '01:30', -745, -423.12, -138.02, -3.29, 21.89, 34.88, 28.75, 32.57, 157.12, None, 350.12, 367, '2020-07-29 21:08:54.277885')
(102, '01/02/2020', 7, '01:30', '01:45', -694, -423.12, -138.02, -3.29, 21.01, 34.88, 28.75, 31.12, 70.12, None, 350.12, 417, '2020-07-29 21:08:54.277885')
(103, '01/02/2020', 8, '01:45', '02:00', -669, -423.12, -138.02, -3.29, 21.01, 34.88, 28.75, 31.12, 62.57, None, 350.12, 442, '2020-07-29 21:08:54.277885')
(104, '01/02/2020', 9, '02:00', '02:15', -682, -423.12, -139.5, -9.78, 20.24, 28.39, 28.75, 32.57, 76.25, None, 350.12, 459, '2020-07-29 21:08:54.277885')
(105, '01/02/2020', 10, '02:15', '02:30', -704, -423.12, -139.5, 0.05, 22.78, 28.39, 28.79, 33.39, 76.25, None, 350.12, 459, '2020-07-29 21:08:54.277885')
(106, '01/02/2020', 11, '02:30', '02:45', -703, -423.12, -131.3, 0.96, 22.78, 28.39, 28.83, 33.66, 76.25, None, 350.12, 459, '2020-07-29 21:08:54.277885')
(107, '01/02/2020', 12, '02:45', '03:00', -680, -423.12, -139.5, -3.78, 22.78, 28.39, 28.81, 33.67, 76.25, None, 350.12, 458, '2020-07-29 21:08:54.277885')
(108, '01/02/2020', 13, '03:00', '03:15', -575, -423.12, None, -20.59, 20.11, 28.39, 28.75, 31.0, 64.12, None, 350.12, 517, '2020-07-29 21:08:54.277885')
(109, '01/02/2020', 14, '03:15', '03:30', -575, -423.12, None, -15.78, 21.01, 28.39, 28.76, 31.16, 64.12, None, 350.12, 518, '2020-07-29 21:08:54.277885')
(110, '01/02/2020', 15, '03:30', '03:45', -575, -423.12, None, -15.78, 21.01, 28.39, 28.77, 31.43, 64.12, None, 350.12, 517, '2020-07-29 21:08:54.277885')
(111, '01/02/2020', 16, '03:45', '04:00', -575, -423.12, None, -20.59, 20.11, 28.39, 28.75, 31.0, 64.12, None, 350.12, 516, '2020-07-29 21:08:54.277885')
(112, '01/02/2020', 17, '04:00', '04:15', -613, -423.12, -150.78, -15.78, 21.01, 28.39, 28.76, 32.78, 70.12, None, 350.12, 458, '2020-07-29 21:08:54.277885')
(113, '01/02/2020', 18, '04:15', '04:30', -613, -423.12, -150.78, -15.78, 21.01, 28.39, 28.76, 32.71, 70.12, None, 350.12, 459, '2020-07-29 21:08:54.277885')
(114, '01/02/2020', 19, '04:30', '04:45', -615, -423.3, -150.78, -15.78, 21.01, 28.39, 28.77, 32.87, 70.12, None, 350.12, 477, '2020-07-29 21:08:54.277885')
(115, '01/02/2020', 20, '04:45', '05:00', -608, -423.3, -223.3, -20.62, 20.08, 28.39, 28.75, 32.57, 70.12, None, 350.12, 477, '2020-07-29 21:08:54.277885')
(116, '01/02/2020', 21, '05:00', '05:15', -625, -423.3, -141.25, 0.96, 22.8, 28.39, 28.86, 33.7, 91.12, None, 350.12, 446, '2020-07-29 21:08:54.277885')
(117, '01/02/2020', 22, '05:15', '05:30', -610, -423.3, -150.78, -2.06, 21.12, 28.39, 28.77, 31.32, 67.48, None, 350.12, 498, '2020-07-29 21:08:54.277885')
(118, '01/02/2020', 23, '05:30', '05:45', -642, -423.3, -141.25, -7.78, 20.11, 28.39, 27.12, 31.0, 86.25, None, 350.12, 449, '2020-07-29 21:08:54.277885')
(119, '01/02/2020', 24, '05:45', '06:00', -664, -423.73, -141.25, -7.78, 20.11, 28.39, 27.12, 31.0, 86.25, None, 350.12, 429, '2020-07-29 21:08:54.277885')
(120, '01/02/2020', 25, '06:00', '06:15', -651, -423.86, -73.86, 10.39, 25.9, 28.36, 29.12, 36.39, 107.16, None, 350.12, 393, '2020-07-29 21:08:54.277885')
(121, '01/02/2020', 26, '06:15', '06:30', -656, -423.86, -123.86, 0.96, 22.62, 40.2, 28.12, 33.12, 167.12, None, 350.12, 391, '2020-07-29 21:08:54.277885')
(122, '01/02/2020', 27, '06:30', '06:45', -689, -423.86, -135.84, -1.91, 22.4, 40.12, 26.12, 31.2, 251.72, None, 350.12, 362, '2020-07-29 21:08:54.277885')
(123, '01/02/2020', 28, '06:45', '07:00', -712, -423.86, -135.84, -6.78, 20.43, 35.11, 27.12, 30.92, 234.16, None, 350.12, 342, '2020-07-29 21:08:54.277885')
(124, '01/02/2020', 29, '07:00', '07:15', -657, -423.86, -106.86, 5.96, 24.92, 40.76, 29.08, 35.12, 98.12, None, 350.12, 399, '2020-07-29 21:08:54.277885')
(125, '01/02/2020', 30, '07:15', '07:30', -661, -423.86, -127.93, -2.08, 22.23, 40.6, 28.92, 31.31, 99.12, None, 350.12, 398, '2020-07-29 21:08:54.277885')
(126, '01/02/2020', 31, '07:30', '07:45', -696, -423.86, -127.93, -3.78, 21.78, 35.6, 28.92, 31.17, 142.12, None, 350.12, 368, '2020-07-29 21:08:54.277885')
(127, '01/02/2020', 32, '07:45', '08:00', -727, -423.86, -127.93, -3.78, 21.78, 35.6, 28.92, 31.17, 225.12, None, 350.12, 336, '2020-07-29 21:08:54.277885')
(128, '01/02/2020', 33, '08:00', '08:15', -713, -423.86, -52.14, 10.73, 26.24, 42.1, 29.98, 36.84, 200.12, None, 344.89, 355, '2020-07-29 21:08:54.277885')